
body, html{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /*image used*/
    background-image: url("william-karl-I1ox7msRbn8-unsplash.jpg");
  /*center and Scale image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
}
.photo-menu{
  /*table used for button section index*/ 
   object-position: center;
   margin-right: 10%;
   margin-right: 10%;
   align-self: auto;
   width: 80%;
   padding-left: 10%;
   padding-right: 10%;
   position: absolute;
   top: 25%;
   left:15%;
   background-color: ivory;
   
 } 
 
 .Contact_info{
  position: absolute;
  top: 25%;
  left:15%;
  font: outline;
  background-color: antiquewhite;
 }
