
body, html{
  height: 100%;
  
}
*{
  box-sizing: border-box;
}
.bg-image {
  /*image used*/
    background-image: url("logboek_maikel.png");

  /*blur effect*/
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100%;

  /*center and Scale image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
}

  
