
* {
      margin: 0;
      padding: 0;
    }
    body {
      font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 80%;
      margin: 0 auto;
      color: #333;
      background: #eee;
    }
    img {
      max-width: 80%;
      padding: 5px;
      border: 1px solid #ccc;
      height: auto;
      background: #fff;
      box-shadow: 1px 1px 7px rgba(0,0,0,0.1);
    }
    h1 {
      font-size: 3em;
      line-height: 1;
      margin-bottom: 0.5em;
    }
    p {
      margin-bottom: 1.5em;
    }
    ul {
      list-style: none;
      margin-bottom: 1.5em;
    }
    .main-image {
      width: 80%;
      margin-bottom: 0.75em;
      
    }
    .thumbnails li {
      display: inline;
      margin: 0 10px 0 0;
    }

.thumbnails li img {
  max-width: 84px;
}

.info_tabel{
    margin-top:0px; 
    margin-left:10px; 
}

.info_tabel-lamborghini{
  left: 88px;
  position: relative;
}
.info_tabel-td{
  left: 20px;
  position: relative;
}

.car-content{

}

.content-left{
  float: left;
}

.content-right{
  float: right;
  width: 80%;
}

.clearer{
  clear: both;
}